.navbar{
    width:100%;
    height:80px;
    box-shadow: 0 4px 10px rgba(0,0,0, .1);
    background-color: cornflowerblue;

}

.navbar .container{
    height:inherit;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-right: 100px;



}
.navbar-menu{
    list-style-type:none ;
    padding-left: 0;
    margin-bottom:0;

}
.navbar-menu li{
    display:inline-block;
    color: black;
    opacity: 0.8;
    text-decoration: none;
}
.navbar-menu li a{
    display:inline-block;
    color: black;
    opacity: 0.8;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
}
.navbar-brand{
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    color:black;
    margin-left: 100px;

}